expose:
  Args: 
    - --v
    - 4
  Annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded

cleanup:
  Args: 
    - --cleanup
  Annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: hook-succeeded

# Activiti Cloud DevOps Environment configuration settings.
global:
  ## Configure pull secrets for all deployments
  registryPullSecrets: []

  # Use Yaml formatted string to add extra environment properties to all deployments, i.e.
  extraEnv: |
    - name: SERVER_USEFORWARDHEADERS
      value: "true"
    - name: SERVER_TOMCAT_INTERNALPROXIES
      value: ".*"
    - name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE
      value: "*"
    
  keycloak:
    ## Configure Activiti Keycloak host template, i.e. "activiti-keycloak.{{ .Release.Namespace }}.{{  template \"common.gateway-domain\" . }}"
    # if not set, keycloak deployment is automatically exposed on gaetway host, 
    # i.e. {{ template \"common.gateway-host\" . }}
    host: ""

    ## Set full url to configure external Keycloak, https://my.keycloak.com/auth
    # if not set, keycloak deployment is automatically exposed on gaetway host, 
    # i.e. http(s)://{{ template \"common.gateway-host\" . }}/auth
    url: ""

    ## Configure Keycloak realm
    realm: "activiti"
    resource: "activiti"
    client: "activiti"
    
    ## Use Yaml formatted string to add keycloak properties to deployments, i.e.
    extraEnv: |
      # - name: KEYCLOAK_USERESOURCEROLEMAPPINGS
      #   value: "false"
  gateway:
    ## Set to configure single domain name for all services, i.e. "activiti-cloud-gateway.{{ .Release.Namespace }}.{{  template \"common.gateway-domain\" . }}"
    host: "activiti-cloud-gateway.{{ .Release.Namespace }}.{{ template \"common.gateway-domain\" . }}"

    ## Set to false enables HTTPS configuration on all urls 
    http: "true"
    
    ## Set to true to enable automatic TLS for ingress if https is enabled
    tlsacme: "false"    

    ## Set domain name to expose service ingresses via gateway.host and keycloak.host
    domain: "REPLACEME"

    ## Configure global annotations for all service ingresses, i.e. Let's Encrypt certificate issuer
    annotations: 
      certmanager.k8s.io/issuer: letsencrypt-prod

